# Database Configuration
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=nmap_db
MYSQL_USER=user
MYSQL_PASSWORD=password

# FastAPI Configuration
# Replace with: mysql+pymysql://user:password@db-service:3306/nmap_db
DATABASE_URL=mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db-service:3306/${MYSQL_DATABASE}
